#achievements {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.achievement {
  text-align: center;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}

.data {
  background: linear-gradient(267deg, #80d8c3 0.36%, #3498db 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  #about {
    margin: 50px 70px;
  }

  #about p {
    font-size: 20px;
    line-height: 35px;
  }

  #achievements {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .achievement {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h3 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  #about {
    margin: 80px 170px;
  }

  #about p {
    font-size: 22px;
  }

  #achievements {
    flex-direction: row;
  }

  .achievement {
    flex: 1 1 calc(25% - 20px);
  }
}
