#footer {
  margin-bottom: 20px;
}
.footer {
  font-weight: 500;
}

.proverb {
  margin-bottom: 50px;
}

.proverb-title {
  background: linear-gradient(267deg, #80d8c3 0.36%, #3498db 102.06%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer p {
  margin-bottom: 10px;
}

.copyright {
  margin-top: 50px;
}
