@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  font-family: "Outfit", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --base-color: #f0f0f0;
  --base-variant: #3498db;
  --text-color: #213547;
  --secondary-text: #a0a0a0;
  --primary-color: #80d8c3;
  --accent-color: #f1c40f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  font-weight: 500;
  font-size: 1em;
}

.darkmode {
  --base-color: #0b192c;
  --text-color: #fff;
  --secondary-text: #000;
  --primary-color: #80d8c3;
}

blockquote,
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

.show-more-button,
.show-less-button {
  border: 2px solid var(--text-color);
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}

p {
  font-size: 16px;
}

h1 {
  font-size: 30px;
  line-height: 1.1;
}

h1 {
  background: linear-gradient(267deg, #80d8c3 0.36%, #3498db 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume-button {
  background-color: var(--primary-color);
}

.connect-btn {
  background-color: #f0f0f0;
  color: #000;
  border: 2px solid #000;
}

button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 15px;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

img {
  width: 60px;
}
